/.idea
/.vagrant
/_ide_helper.php
/app/tests/_log
/bootstrap/compiled.php
/build/coverage
/build/logs
/node_modules
/public/hot
/public/packages
/public/storage
/public/adminer.php
/public/adminer.css
/storage/*.key
/storage/databases
/storage/debugbar
/vendor
.DS_Store
.env
.env.*.php
.env.php
Homestead.json
Homestead.yaml
Thumbs.db
composer.lock
composer.phar
