/* Article-Dual-Column */
.article-dual-column {
  color:#56585b;
  background-color:#fff;
  font-family:'Lora', serif;
  font-size:14px;
}

.article-dual-column .intro {
  font-size:16px;
  margin:0 auto 30px;
}

.article-dual-column .intro h1 {
  font-size:32px;
  margin-bottom:15px;
  padding-top:20px;
  line-height:1.5;
  color:inherit;
}

.article-dual-column .intro p {
  color:#929292;
  font-size:12px;
}

.article-dual-column .intro p .by {
  font-style:italic;
}

.article-dual-column .intro p .date {
  text-transform:uppercase;
  padding:4px 0 4px 10px;
  margin-left:10px;
  border-left:1px solid #ddd;
}

.article-dual-column .intro p a {
  color:#333;
  text-transform:uppercase;
  padding-left:3px;
}

.article-dual-column .intro img {
  margin-top:40px;
}

.article-dual-column .text p {
  margin-bottom:20px;
  line-height:1.45;
}

@media (min-width:768px) {
  .article-dual-column .text p {
    font-size:16px;
  }
}

.article-dual-column .text h2 {
  margin-top:28px;
  margin-bottom:20px;
  line-height:1.45;
  font-size:16px;
  font-weight:bold;
  color:#333;
}

@media (min-width:768px) {
  .article-dual-column .text h2 {
    font-size:20px;
  }
}

.article-dual-column .text figure {
  text-align:center;
  margin-top:30px;
  margin-bottom:20px;
}

.article-dual-column .text figure img {
  margin-bottom:12px;
  max-width:100%;
}

@media (max-width:767px) {
  .article-dual-column .toc {
    border:1px solid #d3d3d3;
    padding:20px 0 15px;
    margin-bottom:20px;
    border-width:1px 0;
  }
}

.article-dual-column .toc p {
  text-transform:uppercase;
  font-size:12px;
  font-weight:bold;
}

.article-dual-column .toc ul {
  padding-left:20px;
  font-size:13px;
  margin-bottom:0;
}

.article-dual-column .toc li {
  padding:2px 0;
}

.article-dual-column .toc a {
  color:inherit;
}

/* Article-List */
.article-list {
  color:#313437;
  background-color:#fff;
}

.article-list p {
  color:#7d8285;
}

.article-list h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .article-list h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.article-list .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.article-list .intro p {
  margin-bottom:0;
}

.article-list .articles {
  padding-bottom:40px;
}

.article-list .item {
  padding-top:50px;
  min-height:425px;
  text-align:center;
}

.article-list .item .name {
  font-weight:bold;
  font-size:16px;
  margin-top:20px;
  color:inherit;
}

.article-list .item .description {
  font-size:14px;
  margin-top:15px;
  margin-bottom:0;
}

.article-list .item .action {
  font-size:24px;
  width:24px;
  margin:22px auto 0;
  line-height:1;
  display:block;
  color:#4f86c3;
  opacity:0.85;
  transition:opacity 0.2s;
  text-decoration:none;
}

.article-list .item .action:hover {
  opacity:1;
}

/* Header */
.custom-header {
  background:#292c2f;
  padding:20px 40px;
  box-sizing:border-box;
  border:0;
  border-radius:0;
}

.custom-header a.navbar-brand.navbar-link {
  color:#fff;
  font:normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height:0.5;
  margin-right:40px;
  background:#292c2f;
}

.custom-header a.navbar-brand.navbar-link span {
  color:#bc40df;
}

.custom-header ul.nav.navbar-nav.links li a {
  font:14px Arial, Helvetica, sans-serif;
  opacity:0.9;
  text-decoration:none;
  color:#fff;
  background:#292c2f;
  border:0;
}

.custom-header ul.nav.navbar-nav li a:hover {
  opacity:1;
}

.custom-header .badge {
  position:absolute;
  top:4px;
  border-radius:2px;
  font-size:11px;
  color:#fff;
  background-color:#2A6A92;
  padding:2px 4px;
  font-weight:normal;
}

.custom-header li.dropdown, .custom-header li.dropdown.open {
  background:#3a3c3e;
}

.custom-header li.dropdown .dropdown-toggle {
  border-radius:2px;
  color:#fff;
  padding:8px 14px;
  background:#3a3c3e;
  opacity:0.9;
  border:0;
  margin:0;
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active {
  background:#3a3c3e;
  color:#fff;
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a {
  font:bold 13px Arial, Helvetica, sans-serif;
}

img.dropdown-image {
  border-radius:50%;
  width:32px;
  margin-left:10px;
}

.custom-header .dropdown ul {
  background-color:#3a3c3e;
  border:0;
  min-width:140px;
}

.custom-header .dropdown ul li {
  background-color:#3a3c3e;
  padding:7px;
  text-align:center;
}

.custom-header .dropdown ul li a {
  background:#3a3c3e;
  border-radius:2px;
  color:#fff;
  padding:0;
}

.custom-header .dropdown ul li a:active, .custom-header .dropdown ul li a:focus, .custom-header .dropdown ul li a:hover {
  background:#3a3c3e;
}

.custom-header .dropdown ul li.active a {
  color:#e9ac09 !important;
}


/* Lightbox-Gallery */
.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

/* Pretty-Header */
.custom-header {
  background:#292c2f;
  padding:20px 40px;
  box-sizing:border-box;
  border:0;
  border-radius:0;
}

.custom-header a.navbar-brand.navbar-link {
  color:#fff;
  font:normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height:0.5;
  margin-right:40px;
  background:#292c2f;
}

.custom-header a.navbar-brand.navbar-link span {
  color:#bc40df;
}

.custom-header ul.nav.navbar-nav.links li a {
  font:14px Arial, Helvetica, sans-serif;
  opacity:0.9;
  text-decoration:none;
  color:#fff;
  background:#292c2f;
  border:0;
}

.custom-header ul.nav.navbar-nav li a:hover {
  opacity:1;
}

.custom-header .badge {
  position:absolute;
  top:4px;
  border-radius:2px;
  font-size:11px;
  color:#fff;
  background-color:#2A6A92;
  padding:2px 4px;
  font-weight:normal;
}

.custom-header li.dropdown, .custom-header li.dropdown.open {
  background:#3a3c3e;
}

.custom-header li.dropdown .dropdown-toggle {
  border-radius:2px;
  color:#fff;
  padding:8px 14px;
  background:#3a3c3e;
  opacity:0.9;
  border:0;
  margin:0;
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active {
  background:#3a3c3e;
  color:#fff;
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a {
  font:bold 13px Arial, Helvetica, sans-serif;
}

img.dropdown-image {
  border-radius:50%;
  width:32px;
  margin-left:10px;
}

.custom-header .dropdown ul {
  background-color:#3a3c3e;
  border:0;
  min-width:140px;
}

.custom-header .dropdown ul li {
  background-color:#3a3c3e;
  padding:7px;
  text-align:center;
}

.custom-header .dropdown ul li a {
  background:#3a3c3e;
  border-radius:2px;
  color:#fff;
  padding:0;
}

.custom-header .dropdown ul li a:active, .custom-header .dropdown ul li a:focus, .custom-header .dropdown ul li a:hover {
  background:#3a3c3e;
}

.custom-header .dropdown ul li.active a {
  color:#e9ac09 !important;
}

/* register */
.register-photo {
  background:#f1f7fc;
  padding:80px 0;
}

.register-photo .image-holder {
  display:table-cell;
  width:auto;
  background:url(/img/system.png);
  background-size:cover;
}

.register-photo .form-container {
  display:table;
  max-width:900px;
  width:90%;
  margin:0 auto;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display:table-cell;
  width:400px;
  background-color:#ffffff;
  padding:40px 60px;
  color:#505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding:40px;
  }
}

.register-photo form h2 {
  font-size:24px;
  line-height:1.5;
  margin-bottom:30px;
}

.register-photo form .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:6px;
  height:40px;
}

.register-photo form .checkbox {
  font-size:13px;
  line-height:20px;
}

.register-photo form .btn-primary {
  background:#f4476b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:35px;
  text-shadow:none;
  outline:none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background:#eb3b60;
}

.register-photo form .btn-primary:active {
  transform:translateY(1px);
}

.register-photo form .already {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

/* Team-Boxed */
.team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.team-boxed .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:center;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

.team-boxed .item img {
  max-width:160px;
}

.team-boxed .social {
  font-size:18px;
  color:#a2a8ae;
}

.team-boxed .social a {
  color:inherit;
  margin:0 10px;
  display:inline-block;
  opacity:0.7;
}

.team-boxed .social a:hover {
  opacity:1;
}


/* user */
.navbar {
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

.hero {
  background:url(/img/poinsettias-blur.jpg) no-repeat center;
  background-size:cover;
  border:none;
}

@media (min-width:992px) {
  .hero .get-it {
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it {
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview {
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p {
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn {
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup {
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device {
  width:100%;
  height:auto;
}

.iphone-mockup .screen {
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(/img/iphone-screen.png);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before {
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature {
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.features {
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2 {
  color:#fff;
}

.features .icon-features {
  margin-top:15px;
}

.testimonials blockquote {
  text-align:center;
}

section.testimonials {
  margin:50px 0;
}

.site-footer {
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5 {
    text-align:left;
  }
}

.site-footer h5 {
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover {
  opacity:1;
}

.site-footer .social-icons a {
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons {
    text-align:right;
  }
}
