/*
======================================
Dashboard
======================================
*/

/*Set links to have no decorations*/
.no-style-link
{
	text-decoration: none;
	color:inherit;
}

.border-simple
{
	border: 3px solid rgba(0, 0, 0, .75);
	border-radius: 8px;
}

.trialing-space
{
	margin-right: 10px;
}

/*
======================================
Dashboard Image Modal
======================================
*/

#image_modal
{
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

/* Dashboard image modal image */
.modal-content
{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 900px;
}

/* Dashboard image modal caption text */
#image_caption
{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 8vw;
	font-size: 4vw;
}

/* Dashboard image modal close button */
#image_modal button
{
	position: absolute;
	top:-7vw;
	right: 0;
	color: white;
	height: 50px;
	font-size: 8vw;
}

/*
*Used by the dash javascript for getting the dropdown elements
 */
.empty{}
.site{}
.location{}