.m-t-0 {
  margin-top: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.m-x-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.p-x-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.m-y-0 {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.p-y-0 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.m-t-1 {
  margin-top: 1px !important;
}

.p-t-1 {
  padding-top: 1px !important;
}

.m-r-1 {
  margin-right: 1px !important;
}

.p-r-1 {
  padding-right: 1px !important;
}

.m-b-1 {
  margin-bottom: 1px !important;
}

.p-b-1 {
  padding-bottom: 1px !important;
}

.m-l-1 {
  margin-left: 1px !important;
}

.p-l-1 {
  padding-left: 1px !important;
}

.m-x-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.p-x-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.m-y-1 {
  margin-bottom: 1px !important;
  margin-top: 1px !important;
}

.p-y-1 {
  padding-bottom: 1px !important;
  padding-top: 1px !important;
}

.m-1 {
  margin: 1px !important;
}

.p-1 {
  padding: 1px !important;
}

.m-t-2 {
  margin-top: 2px !important;
}

.p-t-2 {
  padding-top: 2px !important;
}

.m-r-2 {
  margin-right: 2px !important;
}

.p-r-2 {
  padding-right: 2px !important;
}

.m-b-2 {
  margin-bottom: 2px !important;
}

.p-b-2 {
  padding-bottom: 2px !important;
}

.m-l-2 {
  margin-left: 2px !important;
}

.p-l-2 {
  padding-left: 2px !important;
}

.m-x-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.p-x-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.m-y-2 {
  margin-bottom: 2px !important;
  margin-top: 2px !important;
}

.p-y-2 {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

.m-2 {
  margin: 2px !important;
}

.p-2 {
  padding: 2px !important;
}

.m-t-3 {
  margin-top: 3px !important;
}

.p-t-3 {
  padding-top: 3px !important;
}

.m-r-3 {
  margin-right: 3px !important;
}

.p-r-3 {
  padding-right: 3px !important;
}

.m-b-3 {
  margin-bottom: 3px !important;
}

.p-b-3 {
  padding-bottom: 3px !important;
}

.m-l-3 {
  margin-left: 3px !important;
}

.p-l-3 {
  padding-left: 3px !important;
}

.m-x-3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.p-x-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.m-y-3 {
  margin-bottom: 3px !important;
  margin-top: 3px !important;
}

.p-y-3 {
  padding-bottom: 3px !important;
  padding-top: 3px !important;
}

.m-3 {
  margin: 3px !important;
}

.p-3 {
  padding: 3px !important;
}

.m-t-4 {
  margin-top: 4px !important;
}

.p-t-4 {
  padding-top: 4px !important;
}

.m-r-4 {
  margin-right: 4px !important;
}

.p-r-4 {
  padding-right: 4px !important;
}

.m-b-4 {
  margin-bottom: 4px !important;
}

.p-b-4 {
  padding-bottom: 4px !important;
}

.m-l-4 {
  margin-left: 4px !important;
}

.p-l-4 {
  padding-left: 4px !important;
}

.m-x-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.p-x-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.m-y-4 {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}

.p-y-4 {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

.m-4 {
  margin: 4px !important;
}

.p-4 {
  padding: 4px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.m-y-5 {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.p-y-5 {
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.m-5 {
  margin: 5px !important;
}

.p-5 {
  padding: 5px !important;
}

.m-t-6 {
  margin-top: 6px !important;
}

.p-t-6 {
  padding-top: 6px !important;
}

.m-r-6 {
  margin-right: 6px !important;
}

.p-r-6 {
  padding-right: 6px !important;
}

.m-b-6 {
  margin-bottom: 6px !important;
}

.p-b-6 {
  padding-bottom: 6px !important;
}

.m-l-6 {
  margin-left: 6px !important;
}

.p-l-6 {
  padding-left: 6px !important;
}

.m-x-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.p-x-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.m-y-6 {
  margin-bottom: 6px !important;
  margin-top: 6px !important;
}

.p-y-6 {
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

.m-6 {
  margin: 6px !important;
}

.p-6 {
  padding: 6px !important;
}

.m-t-7 {
  margin-top: 7px !important;
}

.p-t-7 {
  padding-top: 7px !important;
}

.m-r-7 {
  margin-right: 7px !important;
}

.p-r-7 {
  padding-right: 7px !important;
}

.m-b-7 {
  margin-bottom: 7px !important;
}

.p-b-7 {
  padding-bottom: 7px !important;
}

.m-l-7 {
  margin-left: 7px !important;
}

.p-l-7 {
  padding-left: 7px !important;
}

.m-x-7 {
  margin-left: 7px !important;
  margin-right: 7px !important;
}

.p-x-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.m-y-7 {
  margin-bottom: 7px !important;
  margin-top: 7px !important;
}

.p-y-7 {
  padding-bottom: 7px !important;
  padding-top: 7px !important;
}

.m-7 {
  margin: 7px !important;
}

.p-7 {
  padding: 7px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.p-t-8 {
  padding-top: 8px !important;
}

.m-r-8 {
  margin-right: 8px !important;
}

.p-r-8 {
  padding-right: 8px !important;
}

.m-b-8 {
  margin-bottom: 8px !important;
}

.p-b-8 {
  padding-bottom: 8px !important;
}

.m-l-8 {
  margin-left: 8px !important;
}

.p-l-8 {
  padding-left: 8px !important;
}

.m-x-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.p-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.m-y-8 {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.p-y-8 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.m-8 {
  margin: 8px !important;
}

.p-8 {
  padding: 8px !important;
}

.m-t-9 {
  margin-top: 9px !important;
}

.p-t-9 {
  padding-top: 9px !important;
}

.m-r-9 {
  margin-right: 9px !important;
}

.p-r-9 {
  padding-right: 9px !important;
}

.m-b-9 {
  margin-bottom: 9px !important;
}

.p-b-9 {
  padding-bottom: 9px !important;
}

.m-l-9 {
  margin-left: 9px !important;
}

.p-l-9 {
  padding-left: 9px !important;
}

.m-x-9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}

.p-x-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.m-y-9 {
  margin-bottom: 9px !important;
  margin-top: 9px !important;
}

.p-y-9 {
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}

.m-9 {
  margin: 9px !important;
}

.p-9 {
  padding: 9px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.m-y-10 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.p-y-10 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.m-10 {
  margin: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.m-t-11 {
  margin-top: 11px !important;
}

.p-t-11 {
  padding-top: 11px !important;
}

.m-r-11 {
  margin-right: 11px !important;
}

.p-r-11 {
  padding-right: 11px !important;
}

.m-b-11 {
  margin-bottom: 11px !important;
}

.p-b-11 {
  padding-bottom: 11px !important;
}

.m-l-11 {
  margin-left: 11px !important;
}

.p-l-11 {
  padding-left: 11px !important;
}

.m-x-11 {
  margin-left: 11px !important;
  margin-right: 11px !important;
}

.p-x-11 {
  padding-left: 11px !important;
  padding-right: 11px !important;
}

.m-y-11 {
  margin-bottom: 11px !important;
  margin-top: 11px !important;
}

.p-y-11 {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}

.m-11 {
  margin: 11px !important;
}

.p-11 {
  padding: 11px !important;
}

.m-t-12 {
  margin-top: 12px !important;
}

.p-t-12 {
  padding-top: 12px !important;
}

.m-r-12 {
  margin-right: 12px !important;
}

.p-r-12 {
  padding-right: 12px !important;
}

.m-b-12 {
  margin-bottom: 12px !important;
}

.p-b-12 {
  padding-bottom: 12px !important;
}

.m-l-12 {
  margin-left: 12px !important;
}

.p-l-12 {
  padding-left: 12px !important;
}

.m-x-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.p-x-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.m-y-12 {
  margin-bottom: 12px !important;
  margin-top: 12px !important;
}

.p-y-12 {
  padding-bottom: 12px !important;
  padding-top: 12px !important;
}

.m-12 {
  margin: 12px !important;
}

.p-12 {
  padding: 12px !important;
}

.m-t-13 {
  margin-top: 13px !important;
}

.p-t-13 {
  padding-top: 13px !important;
}

.m-r-13 {
  margin-right: 13px !important;
}

.p-r-13 {
  padding-right: 13px !important;
}

.m-b-13 {
  margin-bottom: 13px !important;
}

.p-b-13 {
  padding-bottom: 13px !important;
}

.m-l-13 {
  margin-left: 13px !important;
}

.p-l-13 {
  padding-left: 13px !important;
}

.m-x-13 {
  margin-left: 13px !important;
  margin-right: 13px !important;
}

.p-x-13 {
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.m-y-13 {
  margin-bottom: 13px !important;
  margin-top: 13px !important;
}

.p-y-13 {
  padding-bottom: 13px !important;
  padding-top: 13px !important;
}

.m-13 {
  margin: 13px !important;
}

.p-13 {
  padding: 13px !important;
}

.m-t-14 {
  margin-top: 14px !important;
}

.p-t-14 {
  padding-top: 14px !important;
}

.m-r-14 {
  margin-right: 14px !important;
}

.p-r-14 {
  padding-right: 14px !important;
}

.m-b-14 {
  margin-bottom: 14px !important;
}

.p-b-14 {
  padding-bottom: 14px !important;
}

.m-l-14 {
  margin-left: 14px !important;
}

.p-l-14 {
  padding-left: 14px !important;
}

.m-x-14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}

.p-x-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.m-y-14 {
  margin-bottom: 14px !important;
  margin-top: 14px !important;
}

.p-y-14 {
  padding-bottom: 14px !important;
  padding-top: 14px !important;
}

.m-14 {
  margin: 14px !important;
}

.p-14 {
  padding: 14px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.m-y-15 {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

.p-y-15 {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.m-15 {
  margin: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.m-y-10 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.p-y-10 {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.m-10 {
  margin: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.m-y-20 {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.p-y-20 {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.m-20 {
  margin: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.m-y-30 {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.p-y-30 {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.m-30 {
  margin: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.m-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.p-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.m-y-40 {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

.p-y-40 {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

.m-40 {
  margin: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.m-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.p-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.m-y-50 {
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}

.p-y-50 {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}

.m-50 {
  margin: 50px !important;
}

.p-50 {
  padding: 50px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.p-t-60 {
  padding-top: 60px !important;
}

.m-r-60 {
  margin-right: 60px !important;
}

.p-r-60 {
  padding-right: 60px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.m-l-60 {
  margin-left: 60px !important;
}

.p-l-60 {
  padding-left: 60px !important;
}

.m-x-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.p-x-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.m-y-60 {
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

.p-y-60 {
  padding-bottom: 60px !important;
  padding-top: 60px !important;
}

.m-60 {
  margin: 60px !important;
}

.p-60 {
  padding: 60px !important;
}

.m-t-70 {
  margin-top: 70px !important;
}

.p-t-70 {
  padding-top: 70px !important;
}

.m-r-70 {
  margin-right: 70px !important;
}

.p-r-70 {
  padding-right: 70px !important;
}

.m-b-70 {
  margin-bottom: 70px !important;
}

.p-b-70 {
  padding-bottom: 70px !important;
}

.m-l-70 {
  margin-left: 70px !important;
}

.p-l-70 {
  padding-left: 70px !important;
}

.m-x-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

.p-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.m-y-70 {
  margin-bottom: 70px !important;
  margin-top: 70px !important;
}

.p-y-70 {
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.m-70 {
  margin: 70px !important;
}

.p-70 {
  padding: 70px !important;
}

.m-t-80 {
  margin-top: 80px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.m-r-80 {
  margin-right: 80px !important;
}

.p-r-80 {
  padding-right: 80px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.m-l-80 {
  margin-left: 80px !important;
}

.p-l-80 {
  padding-left: 80px !important;
}

.m-x-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.m-y-80 {
  margin-bottom: 80px !important;
  margin-top: 80px !important;
}

.p-y-80 {
  padding-bottom: 80px !important;
  padding-top: 80px !important;
}

.m-80 {
  margin: 80px !important;
}

.p-80 {
  padding: 80px !important;
}

.m-t-90 {
  margin-top: 90px !important;
}

.p-t-90 {
  padding-top: 90px !important;
}

.m-r-90 {
  margin-right: 90px !important;
}

.p-r-90 {
  padding-right: 90px !important;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.p-b-90 {
  padding-bottom: 90px !important;
}

.m-l-90 {
  margin-left: 90px !important;
}

.p-l-90 {
  padding-left: 90px !important;
}

.m-x-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}

.p-x-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}

.m-y-90 {
  margin-bottom: 90px !important;
  margin-top: 90px !important;
}

.p-y-90 {
  padding-bottom: 90px !important;
  padding-top: 90px !important;
}

.m-90 {
  margin: 90px !important;
}

.p-90 {
  padding: 90px !important;
}

.w-100 {
  width: 100%;
}

/* 5 Columns */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.col-xs-15 {
  float: left;
  width: 20%;
}

@media (min-width: 768px) {
  .col-sm-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    float: left;
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    float: left;
    width: 20%;
  }
}
